.navbar {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 28px;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--border);
}

.logo {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary);
}

.links a {
  margin-left: 18px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  position: relative;
}

.links a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--accent);
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}