<div class="food-grid">

  <div
    class="food-card"
    *ngFor="let item of opciones"
    [class.selected]="state.pedido().primerPlato === item.value"
    [class.open]="openedCard === item.value"
    (click)="toggleCard(item.value)"
  >

    <img [src]="item.image" [alt]="item.name">

    <div class="info">
      <h3>{{ item.name }}</h3>

      <div class="ingredients" *ngIf="openedCard === item.value">
        <p>{{ item.ingredients }}</p>
        <span class="tap-select">Torna a tocar per seleccionar</span>
      </div>
    </div>

  </div>

</div>